[user]
    name = Sam Daniel
	email = daniel.jacob.samuel@gmail.com
[alias]
    undocommit = reset HEAD~
[diff]
    tool = multidiff
[multidiff]
    tool = vim -c 'silent call TabMultiDiff()' -f
[color]
    ui = auto
    diff = auto
